body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.container {
    max-width: 900px;
    margin: 20px auto;
    background-color: rgb(146, 146, 146);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #ffcf4c;
}

.section {
    margin-bottom: 20px;
}

.section h2 {
    border-bottom: 2px solid #000000;
    padding-bottom: 5px;
}

.list-item {
    margin: 5px 0;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #2c3e50;
    color: white;
    margin-top: 20px;
}
